@CHARSET "ISO-8859-1";
body {
	background-color:#fff;
	color:#555;
	font-size:13px;
}
header#header {
    border-top: 1px solid #111111;
    box-shadow: 0 0 20px #DDDDDD, 0 0 0 transparent;
    height: 55px;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fafafa), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
	background-image: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
	background-image: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
	background-image: linear-gradient(top, #fafafa 0%, #eaeaea 100%);
   /* border-bottom: 1px solid #555555; */
}
header#header h1.logo a {
    font-weight: bold;
    line-height: 30px;
    font-family:olsen;arial;
}
#user-nav { float:right;
    top: 5px;
    z-index: 20;
}
.btn .label {top:0 !important;}
header#header h1.logo {
	float:left;
	font-size: 28px;
    margin: 0;
    padding: 10px 0;
}
#user-nav > ul {
    list-style: none outside none;
    margin: 0;
    padding: 7px 0;
}
#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
	color:#005580;
}

#search {
	float:left;
	margin-left:35px;
	padding:15px 0;
}
#search input[type=text], #search button {
	background-color: #222222;
}
#search input[type=text]:focus {
	color: #777777;
}
section#hero{
	background-color: #F8F9FA;
    border-top: 1px solid #FFFFFF;
   /* border-bottom: 1px solid #ddd;*/
    font-family:olsen;arial;
    padding:10px 0;
    margin-bottom:20px;
     
}
section#hero h1{
	margin:0;
}
#logo-container {width:940px;margin:0 auto}


.sh-menu {
	 list-style: none outside none;
	 margin:0;
}
.stream-item {
	background-color:#fdfdfd;
	border-bottom: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 30px;
    padding: 6px;cursor:pointer;
}
.stream-item .label {
	margin-right:6px;display:table;float:right;
}
.sh-menu > li {
    font-family: "Bariol",Helvetica,Arial,sans-serif;
    font-size:14px;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 5px;
    overflow: hidden;
    padding: 8px 4px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.sh-menu > li a {
	 padding: 0 4px;
}
.sh-menu > li:hover {
	background : none repeat scroll 0 0 #eee;
}
.main-menu-item { font-weight:bold;font-size:18px}
.sh-menu > li img { vertical-align:top; }
.sh-menu > li.active {
	background: none repeat scroll 0 0 #4183C4;
}
.sh-menu > li.active a, .sh-menu > li.active span { color:#fff; }
.task-completed {text-decoration:line-through;color:#666}


@media (max-width: 480px) {
	#sidebar > a {
		background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
		border-bottom: 1px solid #6e6e6e;
	}
	#sidebar > ul {
		background-color: #444444;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
		border-right: 7px solid rgba(0, 0, 0, 0.2);
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #222222;
    }
}

#dropdown-login {
	font-size:12px;
	text-align:left;
}