@CHARSET "ISO-8859-1";
body {
	background-color:#fff;
}
header#header {
    border-top: 1px solid #111111;
    box-shadow: 0 0 20px #DDDDDD, 0 0 0 transparent;
    height: 55px;
    background-color: #333333;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#3F3F3F), to(#222222));
    background-image: -webkit-linear-gradient(top, #3F3F3F 0%, #222222 100%);
    background-image: -moz-linear-gradient(top, #3F3F3F 0%, #222222 100%);
	background-image: -ms-linear-gradient(top, #3F3F3F 0%, #222222 100%);
	background-image: -o-linear-gradient(top, #3F3F3F 0%, #222222 100%);
	background-image: linear-gradient(top, #3F3F3F 0%, #222222 100%);
    border-bottom: 1px solid #555555;
}
header#header h1.logo a {
    font-weight: normal;
    line-height: 30px;
    font-family:olsen;arial;
}
header#header .logo a {
    color: #EEEEEE;
    text-shadow: 1px 2px 0 #111111;
}
header#header h1.logo {
	float:left;
	font-size: 26px;
    margin: 0;
    padding: 10px 0;
}
#search {
	float:left;
	margin-left:35px;
	padding:15px 0;
}
#search input[type=text], #search button {
	background-color: #222222;
}
#search input[type=text]:focus {
	color: #777777;
}
section#hero{
	background-color: #F8F9FA;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #ddd;
    font-family:olsen;arial;
    padding:10px 0;
    margin-bottom:20px;
     
}
section#hero h1{
	margin:0;
}
#logo-container {width:940px;margin:0 auto}


.accordion { margin-bottom:0 !important;}
.accordion-heading a {
    background-image: url("../img/down.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 16px;
    font-weight: normal;
    outline: medium none;
}
a.non-content { background-image:none !important;}
.accordion-heading a:hover {
    text-decoration: none;
}
.up a {
    background-image: url("../img/up.png");
}
.accordion-inner {
    border-top: 1px solid #FFFFFF;
    padding: 0;
}
.accordion-heading-blue, .sidebar > li.active > a, .sidebar > li > a:hover {
	background-color: #5ECEFF; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ECEFF',
		endColorstr='#00A1E5' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#5ECEFF),
		to(#00A1E5) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #5ECEFF, #00A1E5);
	/* for firefox 3.6+ */
	border: solid 1px #00A1E5;
	color:#fff;
}

.accordion-heading-orange {
	background-color: #F68C1F; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F68C1F',
		endColorstr='#C16509' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F68C1F),
		to(#C16509) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #F68C1F, #C16509);
	/* for firefox 3.6+ */
	border: solid 1px #C16509;
}

.accordion-heading-green {
	background-color: #487518; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7BC628',
		endColorstr='#487518' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#7BC628),
		to(#487518) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #7BC628, #487518);
	/* for firefox 3.6+ */
	border: solid 1px #487518;
}

.content-box {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    margin: 15px;
    padding: 15px;
}

.accordion-content-blue {
    background-color: #36BBF4;
}
.accordion-content-green {
    background-color: #7BC628;
}
.accordion-content-orange {
	background-color: #F68C1F;
}


.content-space {
    color: #FFFFFF;
    padding: 15px;
}
.content-space a {
    color: #FFFFFF;
    text-decoration: underline;
}


.sidebar {
	 list-style: none outside none;
	 margin:0;
}

.sidebar li {
	line-height:24px;
}
.sidebar > li a {
 	border: 1px solid transparent;
    font-family: "Bariol",Helvetica,Arial,sans-serif;
    font-size:16px;
}

.sidebar > li img { vertical-align:top; margin-right:10px}




@media (max-width: 480px) {
	#sidebar > a {
		background-image: -moz-linear-gradient(top, #464646 0%, #404040 100%);
		border-bottom: 1px solid #6e6e6e;
	}
	#sidebar > ul {
		background-color: #444444;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	#sidebar > ul ul:before {
		border-right: 7px solid rgba(0, 0, 0, 0.2);
	}
	#sidebar > ul ul:after {
		border-right: 6px solid #222222;
    }
}
